@page "/Restaurant/{RestaurantId:int}/Items"
@using Protos = Protos.Message.Administrator

<h3>Item</h3>

@code {
  [Inject] IDbContext dbContext { get; set; }
  [Inject] AppData app { get; set; }
  [Inject] AuthenticationStateProvider authenticationStateProvider { get; set; }

  [Parameter]
  public int RestaurantId { get; set; }

  public static AuthenticationState AuState = null;

  private ICollection<Protos.Item> _items;

  protected override void OnInitialized()
  {
    AuState = authenticationStateProvider.GetAuthenticationStateAsync().Result;
    if (!AuState.User.IsInRole(StrVal.ADMIN))
    {
      throw new Exception("You have no right to access this page");
    }

    using var sp = dbContext.GetReader<Protos.Item>(app.RefDatas.AppSetting.Id, AuState.User);
    _items = (sp.IsReady) ? sp.ReadBy<Protos.Restaurant>(RestaurantId) : null;
  }
};