@page "/"

<h1>Hello, @Username</h1>

<p>Welcome to your new app.</p>

<p>
  <a href="/Logout">Logout</a>
</p>

@code
{
  [CascadingParameter]
  protected Task<AuthenticationState> AuthState { get; set; }

  private string Username;

  protected override async Task OnInitializedAsync()
  {
    Username = (await AuthState)?.GetClaim("name") ?? "Anonymous User";

    await base.OnInitializedAsync();
  }
}