<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="cfdc4ae0-9302-4245-a352-9276d4a94515" value="Data Source=YUPC;Initial Catalog=AllAboutFood; Connect Timeout=120;Integrated Security=SSPI;Persist Security Info=False;Packet Size=4096" />
  </appSettings>
</configuration>